<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Sena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label >
      <ion-button color="success"(click)="goToFormacion()">
        <ion-text style="color: white;">FORMACION </ion-text> </ion-button>
      <ion-button color="success" (click)="goToCoordinacion()">
        <ion-text style="color: white;">CORDINACIÓN</ion-text></ion-button>
      <ion-button color="success" (click)="goToNovedades()">
        <ion-text style="color: white;">NOVEDADES</ion-text>
      </ion-button>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <P>
        <ion-text color="success">NOTICIAS</ion-text>
      </P>
    </ion-label>
  </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let notis of listNoticias" (click)="Navigate(notis)">
            <ion-card  *ngIf="notis.show">
              <ion-card-content>
                <ion-grid fixed >
                  <ion-row >
                    
                    <ion-col size="6" color="success" >
                       <img name="imag" style="width:400px;" src={{notis.url_imag}}>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text >
                        <h3 style="color: brown;" >{{notis.title}}</h3>
                        <p class="letras" style="font-size: 20px;">{{notis.text_small}}.</p>
                      </ion-text>
                      <ion-text >
                        <p class="letras" style="font-size: 15px;">{{notis.hora}}. <ion-icon name="checkbox-outline"></ion-icon> <ion-icon name="chatbubbles"></ion-icon></p> 
                      </ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-item>
