<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text> {{titleNews}} </ion-text>
  <p class="letras" style="font-size: 20px;">{{fuenteUrlNews}}.</p>
  
<ion-content>
  <ion-list>
    <ion-item>
      <span slot="end" (click)="back()"><ion-icon name="arrow-back-outline"></ion-icon></span>
    </ion-item>
    <ion-item lines="none">
      <ion-card>
        <img name="imag" style="width:1000px;" src={{imagenDetailNews}}>
        <ion-card-header>
      
        </ion-card-header>
        <ion-card-content style="font-size: 15px;" class="ion-text-justify">

          <h3 style="font-size: 20px;" > {{dateDetailNews}}.</h3>
        </ion-card-content>
        <ion-footer>
          <ion-toolbar>
            <ion-icon name="heart-half-outline"></ion-icon>
            <ion-icon name="eye-outline"></ion-icon>
            <a [href]="fuenteUrlNews" slot="end" target="blank"> <ion-icon class="eye" name="link-outline"> </ion-icon></a>
          </ion-toolbar>
        </ion-footer>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
  

